@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  background-color: #131819;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: monospace;
  /* padding: 100px;
  margin: 100px; */
  color: aliceblue;
}
h1 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Helvetica Neue";
  margin-bottom: 15px;
}
.wrapper {
  width: 50%;
  border: 1px groove white;
  padding: 40px;
  display: block;
  align-content: center;
  margin: auto;
  margin-top: 200px;
  border-radius: 12px;
}
.form label {
  margin-left: 18px;
  margin-top: 10px;
  /* margin-bottom: px; */
  font-size: 18px;
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid white;
  background-color: #131819;
  color: #ef7917;
  box-sizing: border-box;
  border-radius: 6px;
  /* width: 100%; */
  height: 40px;
  margin-top: 20px;
  padding: 9px;
  font-size: 15px;
  margin: 7px;
}
.nav {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  top: 0;
  margin: 0;
  margin-left: 0%;
  position: absolute;
  display: flex;
}
.nav .logo {
  width: 200px;
  font-family: "Syne Mono", monospace;
  font-size: 33px;
  padding: 7px;
  padding-left: 190px;
  background-color: #ffffff;
  color: #ff5722;
  text-align: left;
  margin-right: 0 !important;
}

.search-container {
  flex-grow: 0.5;
  /* padding: 0 20px; */
  position: relative;
  display: flex;
  background: #ffffff;
  margin-left: 120px;
  width:100px;
}

.search-container input {
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #131819;
  box-sizing: border-box;
  border-radius: 8px;
  height: 42px;
  width: 100px;
  font-size: 16px;
  padding-left: 45px;
  box-sizing: border-box;
  flex-grow: 1;
  color:black;
}

.search-container input:focus {
  outline: none;
}

.search-icon {
  height: 20px;
  position: absolute;
  top: 10px;
  left: 7px;
  margin-top: 10px;
  background-color: #ffffff;
  padding-left: 6px;
  padding-bottom: 2px;
  margin-left: 3px;
}

button {
  width: 100%;
  margin-top: 20px;
  background: #ff5722;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
